
spring:
  application:
    name: "umc_workbook"

  datasource: # MySQL JDBC ???? ??? ??
    url: "jdbc:mysql://localhost:3306/umc"
    username: "root"
    password: "mrtomas123*"

  jpa:
    driver-class-name: com.mysql.cj.jdbc.Driver # MySQL JDBC 드라이버 클래스 이름
    database: mysql
    database-platform: org.hibernate.dialect.MySQLDialect
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
  sql:
    init:
      mode: never